<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>待办任务</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="/resources/favicon.ico">
    <link rel="stylesheet" href="/resources/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/resources/css/public.css" media="all" />
</head>
<body class="childrenBody">

<div class="layui-form-item">
    <div class="layui-input-block" style="text-align: right;">
        <button type="button" class="layui-btn" lay-submit="" lay-filter="doSearch"><span class="layui-icon layui-icon-refresh-1"></span>刷新</button>
    </div>
</div>

<!-- 数据表格开始 -->
<div>
    <table class="layui-hide" id="taskInfoTable" lay-filter="taskInfoTable"></table>
    <div id="taskInfoRowBar" style="display: none;">
        <button type="button" lay-event="doTask"  class="layui-btn layui-btn-sm layui-btn-warm"><span class="layui-icon layui-icon-edit"></span>办理任务</button>
        <button type="button" lay-event="viewProcessImg"  class="layui-btn layui-btn-sm layui-btn-normal"><span class="layui-icon layui-icon-file"></span>查看流程图</button>
    </div>
</div>
<!-- 数据表格结束 -->

<script type="text/javascript" src="/resources/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['jquery','form','table','layer'],function () {
        var $ = layui.jquery;
        var form = layui.form;
        var table = layui.table;
        var layer = layui.layer;

        //渲染表格数据
        var tableInfos = table.render({
            elem: '#taskInfoTable',
            url: '/workFlow/loadCurrentUserTask',
            title: '待办任务',
            height: 'full-200',
            page: true,
            cols: [ [
                {type: 'checkbox', fixed: 'left'},
                {field: 'id', title: '任务ID', align: 'center'},
                {field: 'name', title: '待办任务名称', align: 'center'},
                {field: 'createTime', title: '创建时间', align: 'center'},
                {field: 'assignee', title: '办理人', align: 'center'},
                {field: 'right', title: '操作', align: 'center', toolbar: '#taskInfoRowBar'},
            ] ]
        });

        //模糊查询
        form.on("submit(doSearch)",function () {
            tableInfos.reload();
        });

        //监听行工具栏事件
        table.on("tool(taskInfoTable)",function (obj) {
            var data = obj.data;//获取当前行的数据
            switch (obj.event) {
                case 'doTask':
                    toDoTask(data);
                break;
                case 'viewProcessImg':
                    viewImg(data);
                break;
            };
        });
        
        var mainIndex;
        var url;
        //打开办理任务的弹出层
        function toDoTask(data) {
            mainIndex = layer.open({
                type: 2,
                title: '办理任务',
                content: '/sys/doTask?taskId=' + data.id,
                area: ['700px','700px'],
            });
        }

        //打开查看流程图的弹出层
        function viewImg(data) {
            layer.open({
                type: 2,
                title: '审批流程进度图', 
                content: '/sys/viewProcessByTaskId?taskId=' + data.id,
                area: ['400px','500px'],
            })
        }
    })
</script>
</body>
</html>