<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>权限管理--右边</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="/resources/favicon.ico">
    <link rel="stylesheet" href="/resources/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/resources/css/public.css" media="all" />
    <link rel="stylesheet" href="/resources/layui_ext/dtree/dtree.css" media="all" />
    <link rel="stylesheet" href="/resources/layui_ext/dtree/font/dtreefont.css" media="all" />
</head>
<body class="childrenBody">
<!-- 查询条件开始 -->
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 2px;">
    <legend style="size: 10px;">查询条件</legend>
</fieldset>
<blockquote class="layui-elem-quote">
    <form action="" method="post" id="searchFrm" lay-filter="searchFrm" class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">权限名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="title" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">权限编码</label>
                <div class="layui-input-inline">
                    <input type="text" name="perCode" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="text-align: center;">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="doSearch"><span class="layui-icon layui-icon-search"></span>查询</button>
                <button type="reset" class="layui-btn layui-btn-warm"><span class="layui-icon layui-icon-refresh-1"></span>重置</button>
            </div>
        </div>
    </form>
</blockquote>
<!-- 查询条件结束 -->

<!-- 数据表格开始 -->
<div>
    <table class="layui-hide" id="permissionInfoTable" lay-filter="permissionInfoTable"></table>
    <div id="permissionInfoToolBar" style="display: none;">
        <button type="button" lay-event="addPermission" shiro:hasPermission="permission:create" class="layui-btn layui-btn-sm"><span class="layui-icon layui-icon-add-1"></span>添加权限</button>
    </div>
    <div id="permissionInfoRowBar" style="display: none;">
        <button type="button" lay-event="update" shiro:hasPermission="permission:update" class="layui-btn layui-btn-sm layui-btn-normal"><span class="layui-icon layui-icon-edit"></span>修改</button>
        <button type="button" lay-event="delete" shiro:hasPermission="permission:delete" class="layui-btn layui-btn-sm layui-btn-danger"><span class="layui-icon layui-icon-delete"></span>删除</button>
    </div>
</div>
<!-- 数据表格结束 -->

<!-- 添加和修改的弹出层开始 -->
<div style="display: none;padding: 5px;" id="addOrUpdate">
    <form action="" method="post" class="layui-form layui-form-pane" id="dataFrm" lay-filter="dataFrm">
        <div class="layui-form-item">
            <label class="layui-form-label">选择菜单</label>
            <div class="layui-input-block">
                <input type="hidden" name="pId" id="pid"/>
                <ul id="menuTree" class="dtree" data-id="0">
                </ul>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">权限名称</label>
            <div class="layui-input-block">
                <input type="text" name="title" required lay-verify="required" placeholder="请输入权限名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">权限编码</label>
            <div class="layui-input-block">
                <input type="text" name="perCode" placeholder="请输入权限编码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">是否展开</label>
                <div class="layui-input-inline">
                    <input type="radio" name="open" value="1" title="展开" checked="">
                    <input type="radio" name="open" value="0" title="不展开">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">是否可用</label>
                <div class="layui-input-inline">
                    <input type="radio" name="available" value="1" title="可用" checked="">
                    <input type="radio" name="available" value="0" title="不可用">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序码</label>
            <div class="layui-input-inline">
                <input type="text" name="orderNum" id="orderNum" lay-verify="required|number"  autocomplete="off" placeholder="请输入排序码[>0]" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="text-align: center;">
                <button type="button" class="layui-btn" lay-submit="" id="doSubmit"><span class="layui-icon"></span>提交</button>
                <button type="reset" class="layui-btn layui-btn-warm"><span class="layui-icon"></span>重置</button>
            </div>
        </div>
    </form>
</div>
<!-- 添加和修改的弹出层结束 -->

<script type="text/javascript" src="/resources/layui/layui.js"></script>
<script type="text/javascript">
    var tableInfos;
    var selectTree;
    layui.extend({
        dtree: '/resources/layui_ext/dtree/dtree'   // {/}的意思即代表采用自有路径，即不跟随 base 路径
    }).use(['jquery','form','table','layer','dtree'],function () {
        var $ = layui.jquery;
        var form = layui.form;
        var table = layui.table;
        var layer = layui.layer;
        var dtree = layui.dtree;

        //渲染表格数据
        tableInfos = table.render({
            elem: '#permissionInfoTable',
            url: '/permission/loadAllPermission',
            toolbar: '#permissionInfoToolBar',//开启头部工具栏
            title: '菜单信息',
            height: 'full-200',
            page: true,
            cols: [ [
                {field: 'id', title: 'ID', align: 'center', width: '200'},
                {field: 'pid', title: '菜单ID', align: 'center', width: '200'},
                {field: 'title', title: '权限名称', align: 'center', width: '200'},
                {field: 'perCode', title: '权限编码', align: 'center', width: '400'},
                {field: 'available', title: '是否可用', align: 'center', width: '160', templet:function (d) {
                        return d.available==1?'<font color="blue">可用</font>':'<font color="red">不可用</font>';
                    }},
                {field: 'orderNum', title: '排序码', align: 'center', width: '120'},
                {field: 'right', title: '操作', align: 'center', toolbar: '#permissionInfoRowBar', width: '200'},
            ] ]
        });

        //模糊查询
        form.on("submit(doSearch)",function (data) {
            tableInfos.reload({
                where: data.field,
                page: {
                    curr: 1
                }
            });
            return false;
        });

        //监听工具栏事件
        table.on("toolbar(permissionInfoTable)",function (obj) {
            switch (obj.event) {
                case 'addPermission':
                    openAddLayer();
                    break;
            };
        });

        //监听行工具栏事件
        table.on("tool(permissionInfoTable)",function (obj) {
            var data = obj.data;//获取当前行的数据
            switch (obj.event) {
                case 'update':
                    openUpdateInfoLayer(data);
                    break;
                case 'delete':
                    deleteInfo(data);
                    break;
            };
        });

        //删除单行数据
        function deleteInfo(data) {
            $.post("/permission/checkChildrenNode", {id:data.id}, function (result) {
                if (result) {
                    layer.msg('请先删除此菜单的下级菜单');
                } else {
                    layer.confirm('您确定要删除此数据吗?', {icon: 3, title: '提示'}, function (index) {
                        $.post("/permission/deletePermission",{id: data.id}, function (res) {
                            if (res.code==200) {
                                tableInfos.reload();
                                //刷新下拉树
                                selectTree.reload();
                                //刷新左边的菜单树
                                window.parent.left.menuTree.reload();
                            }
                            layer.msg(res.msg);
                        })
                        layer.close(index);
                    });
                }
            })
        }

        var mainIndex;
        var url;
        //打开添加权限的弹出层
        function openAddLayer() {
            mainIndex = layer.open({
                type: 1,
                title: '添加权限',
                content: $('#addOrUpdate'),
                area: ['800px','600px'],
                success:function () {
                    $('#dataFrm')[0].reset();
                    url="/permission/addPermission";
                    //初始化排序码
                    $.get("/permission/getOrderNum", function (res) {
                        $("#orderNum").val(res.value);
                    })
                }
            });
        }

        //打开修改菜单的弹出层
        function openUpdateInfoLayer(data) {
            mainIndex = layer.open({
                type: 1,
                title: '修改权限',
                content: $('#addOrUpdate'),
                area: ['800px','600px'],
                success:function () {
                    $('#dataFrm')[0].reset();
                    //装载新的数据
                    form.val("dataFrm",data);
                    //加载之前选中的父级菜单
                    // alert(data.pid);
                    dtree.dataInit("menuTree",data.pid);
                    dtree.selectVal("menuTree");
                    url="/permission/updatePermission";
                }
            });
        }

        //监听提交按钮
        $("#doSubmit").click(function () {
            var data = $('#dataFrm').serialize();
            $.post(url,data,function (res) {
                if (res.code==200) {
                    tableInfos.reload();
                    //刷新下拉树
                    selectTree.reload();
                    //刷新左边的菜单树
                    window.parent.left.menuTree.reload();
                }
                layer.msg(res.msg);
                layer.close(mainIndex);
            })
        });

        //初始化下拉树
        selectTree = dtree.renderSelect({
            elem: "#menuTree",
            dataStyle: "layuiStyle",
            dataFormat: "list",  //配置data的风格为list
            response:{message:"msg",statusCode:0},  //修改response中返回数据的定义
            url: "/permission/loadPermissionManagerLeftJson",
            selectTips: "请选择"
        });

        //监听节点点击的方法
        dtree.on("node('menuTree')" ,function(obj){
            $("#pid").val(obj.param.nodeId);
            console.log(obj.param.nodeId); // 点击当前节点传递的参数
        });
    })

    //点击其他页面刷新当前页面的方法
    function reloadTable(id) {
        tableInfos.reload({
            where: {
                id:id
            },
            page: {
                curr:1
            }
        });
    }
</script>
</body>
</html>