<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.timain.web.sys.mapper.LeaveBillMapper">

    <insert id="insertLeave">
        INSERT INTO sys_leavebill 
        ( id, title, content, days, leaveTime, state, userId ) 
        VALUES 
        ( #{id,jdbcType=VARCHAR},
         #{title,jdbcType=VARCHAR},
         #{content,jdbcType=VARCHAR},
         #{days,jdbcType=DOUBLE},
         #{leaveTime,jdbcType=TIMESTAMP},
         #{state,jdbcType=VARCHAR},
         #{userId,jdbcType=INTEGER})
    </insert>

</mapper>
